.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background: #3b3ff5;
  color: white;
}

.table td {
  padding: 5px 10px 5px 10px;
}

.table a {
  color: #3b3ff5;
}

.table a:hover {
  color: rgb(0, 0, 100);
}

.hidden {
  display: none;
}

.expand_category {
  color: white;
  background: #6191f2;
  padding: 5px 10px 5px 10px;
}

.expand_category:hover {
  cursor: pointer;
}

.expand_category_td {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
